@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --body-bkg--light: #b5bbbe;
  --body-bkg--dark: #212226;
  --header--font: #b5bbbe;
  --header--icon: #15cdcb;
  --input-border--claro: #e0dede;
  --button-bkg: #5280e2;
  --button-font: #5280e2;
  --footer-font: #b5bbbe;
  --footer-link: #800080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

@media (min-width: 280px) {
  .c-main{
    height: 60vh;
  }
  
  .c-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bkg--light);
    border-radius: 20px;
    justify-content: center;
    width: 17.5rem;
    height: 24.125rem;

  }

  .c-form h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--button-font);
  }

  .c-input {
    display: flex;
    flex-direction: column;
  }

  .c-input input {
    margin-bottom: 10px;
    width: 100%;
  }

  .btn_smal {
    height: 2rem;
    width: 8rem;
  }

   

  form input {
    border-radius: 15px;
    height: 2rem;
    width: 2.5rem;
    padding: 10px;
  }



  .voltar {
    width: 5rem;
    background-color: var(--body-bkg--light);
    margin: 20px 0 20px 0;
    position: relative;
    left: 8.5rem;
    
  }

  .responsivo{
    height: 20px;
    position: relative;
    bottom: -30px;
  }

}

@media (min-width: 1400px) {
  .c-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 80px;
    height: 65vh;
  }
  .c-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bkg--light);
    width: 450px;
    height: 450px;
    border-radius: 20px;
    
  }
  .c-form input {
    width: 300px;
  }
  .c-form h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--button-font);

  }
 
  .voltar {
    width: 5rem;
    background-color: var(--body-bkg--light);
    margin: 20px 0 20px 0;
    position: relative;
    bottom:-50px;
    left: 720px;
  }
}
